extends /layout.jade

block content
    .card
        h2 Question Stats    
        p
            a(href="/admin/questions") Back
        p This question has been asked #{question.timesAnswered} times
        table
            tr
                th Answer
                th Times Answered
            if question.answers
                each a, i in question.answers
                    tr
                        td= a.answer
                        td= a.timesAnswered

    .card
        h2 Edit Question
        p.red Any answers left blank will be deleted.
        if error
            p.red= error

        form(action="/admin/questions/#{question.id}/update" method="POST")
            label(for="question[question]") Question
            input(name="question[question]" type="text" value="#{question.question}")

            br
            if question
                if question.answers
                    #answers-form-container
                        each a, i in question.answers
                            input(name="question[answers][#{i}][id]" type="hidden" value="#{a.id}")
                            label(for="question[answers][#{i}][answer]") Answer #{i+1}
                            input(name="question[answers][#{i}][answer]" type="text" value="#{a.answer}")
                        
                    p
                        a(href="#" id="add-answer") + Add answer

            br
            input(type="submit" value="Update Question")
                        
